version: "3.9"

services:

  # ---------------- Zookeeper ----------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - pms-network
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      replicas: 1

  # ---------------- Kafka ----------------
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - pms-network
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 15s
    deploy:
      replicas: 1

  # ---------------- Kafka UI ----------------
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - pms-network
    deploy:
      replicas: 1

  # ---------------- SQL Server ----------------
#  sqlserver:
#    image: mcr.microsoft.com/mssql/server:2022-latest
#    ports:
#      - "1433:1433"
#    environment:
#      ACCEPT_EULA: "Y"
#      MSSQL_SA_PASSWORD: ${SA_PASSWORD:-YourStrong@Passw0rd}
#      MSSQL_PID: "Developer"
#    networks:
#      - pms-network
#    volumes:
#      - new_sql_data:/var/opt/mssql
#    healthcheck:
#      test: >
#        /opt/mssql-tools18/bin/sqlcmd
#        -S localhost
#        -U sa
#        -P "$${SA_PASSWORD:-YourStrong@Passw0rd}"
#       -C
#        -Q "SELECT 1" || exit 1
#      interval: 15s
#      timeout: 10s
#      retries: 10
#      start_period: 60s
#    deploy:
#      replicas: 1

networks:
  pms-network:
    driver: overlay
    attachable: true
    name: pms-network

volumes:
  zookeeper_data:
    name: pms_zookeeper_data
  zookeeper_log:
    name: pms_zookeeper_log
  kafka_data:
    name: pms_kafka_data
  new_sql_data:
    name: pms_new_sql_data
